<!--nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">維德</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Calender</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Students</a>
              <a class="dropdown-item" href="#">Teachers</a>
              <a class="dropdown-item" href="#">Assistants</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Classes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Accounts</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Notices</a>
            </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav-->
  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Victory</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item home active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item calander ">
            <a class="nav-link" href="/calendar">Calendar</a>
          </li>
          <li class="nav-item members dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/members/students">Students</a>
                <a class="dropdown-item" href="/members/teachers">Teachers</a>
                <a class="dropdown-item" href="/members/assistants">Assistants</a>
              </div>
            </li>
          <li class="nav-item classes">
            <a class="nav-link" href="/classes">Classes</a>
          </li>
          <li class="nav-item accounts dropdown">
              <a class="nav-link dropdown-toggle" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="/accounts/students">Students</a>
                <a class="dropdown-item" href="/accounts/teachers">Teachers</a>
                <a class="dropdown-item" href="/accounts/assistants">Assistants</a>
              </div>
            </li>
            <li class="nav-item notices">
                <a class="nav-link" href="/notices">Notices</a>
              </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
          <div class="btn-group float-right">
             <p class="form-control mb-2 mr-sm-2 mb-sm-0" id="class_hr" >Hello, {{ .Permission }} {{ .User }}{{ .To_user_msg}}</p>
              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  管理上下班
              </button>
              <div class="dropdown-menu dropdown-menu-right width-middlen">
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr">狀態</label>
                      <button class="form-control  mb-2 mr-sm-2 mb-sm-0" id="class_hr" >上班中</button>
                      <button class="form-control btn-danger mb-2 mr-sm-2 mb-sm-0" id="class_hr" >下班打卡</button>
                  </div>
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr">上班時間</label>
                      <p class="form-control col-7 mb-2 mr-sm-2 mb-sm-0" id="class_hr" >11:20</p>
                  </div>
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr">下班時間</label>
                      <p class="form-control  col-7 mb-2 mr-sm-2 mb-sm-0" id="class_hr" >...</p>
                  </div>
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr">總累計</label>
                      <p class="form-control col-7 mb-2 mr-sm-2 mb-sm-0" id="class_hr" >20</p>
                  </div>
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr">今日累計</label>
                      <p class="form-control col-7 mb-2 mr-sm-2 mb-sm-0" id="class_hr" >0</p>
                  </div>
                  <div class="row">
                      <label class="mr-sm-2 col-4" for="class_hr"></label>
                      <button class="btn-info col-7 mb-2 mr-sm-2 mb-sm-0" for="class_hr">登出</button>
                     
                  </div>
              </div>
      </form>
    </div>
  </nav>
  <script>
      
  </script>