


<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/select/1.2.3/js/dataTables.select.min.js"></script>
<script src="/js/dataTables.editor.min.js"></script>
<script src="/js/data.js"></script>
<main class="col-sm-10 ml-sm-auto col-md-12 pt-3 pl-3" role="main">
<h1>Assistants</h1>
      <table id="data_table" class="display" cellspacing="0" width="100%">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Phone (Home)</th>
                  <th>Phone (Cellphone)</th>
                  <th>EMAIL</th>
                  <th>Join Date</th>
                  <th>Salary (HR)</th>
                  <th>Note</th>
                
              </tr>
          </thead>
          <tfoot>
              <tr>
                    <th>Name</th>
                    <th>Phone (Home)</th>
                    <th>Phone (Cellphone)</th>
                    <th>EMAIL</th>
                    <th>Join Date</th>
                    <th>Salary (HR)</th>
                    <th>Note</th>
              </tr>
          </tfoot>
      </table>
</main>
      

      

      